* {
    margin: 0;
    padding: 0;
}


.display-none {
   display: none;
}
  
.box-superior {
   background-image: linear-gradient(rgba(64, 105, 29, 0.9), rgba(64, 105, 29, 0.9)),
    url("../img/multidao.jpg");
    object-fit: cover;
    height: calc(50vh - 2.5rem); 
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

.titulo {
   padding-top: 10rem;
   font-size: 2rem;
   color: rgb(231, 151, 13);
}

  h1 {
    text-align: center;
    font-family: Helvetica;
    letter-spacing: .2rem;
  }

  a {
    font-family: Helvetica;
    text-decoration: none;
    color: #000;
    font-family: Helvetica;
  }
  
  /* MENU */
  
  #menu-navegacao {
      background-color: white;
      display: flex;
      justify-content: center;
      padding: .5rem 1rem; 
      opacity: .95;
      height: 4rem;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
  
  #menu-navegacao li {
    list-style: none;
    margin: 1rem;
  }
  
  #menu-navegacao a {
      text-decoration: none;
      list-style: none;
      color: rgb(47, 47, 47);
      font-weight: 600;
  }
  
  #menu-navegacao a:hover {
      color:rgb(231, 151, 13);
  }
  
  

/*HERO*/


#chamada {
    background-image: linear-gradient(rgba(64, 105, 29, 0.9), rgba(64, 105, 29, 0.9)),
    url("../img/multidao.jpg");
    object-fit: cover;
    height: calc(60vh - 2.5rem); 
    background-position: bottom left;
    text-align: center;
    background-attachment: fixed;
}

.logo-unicamp {
    width: 5rem;
    padding: 10rem 0rem 0rem 2rem;
}

.logo-nepp {
   width: 7rem;
}

#chamada h1 {
    padding-top: 2rem;
    font-size: 1.7rem;
    color: #fff;
}

 /*COMUNICADOS*/

 
 .comunicados-div {
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-around;
 }

 .quadros {
    max-height: 60vh;
    border: 1px solid rgb(188, 185, 185);
    margin: 2rem 3rem 0rem 3rem;
    box-shadow: 2px 2px #eeebeb;
    border-radius: 5px;
    background-color: #f6f6f6;
 }

 .quadros img {
    object-fit:cover;
    height: 30vh;
    width:100%;
 }

 .quadros-info {
    padding: 1rem;
 }

 .quadros-p {
    padding-top: 1rem;
    color:rgb(74, 71, 71);
 }

 .quadros-h3 {
   color:rgb(221, 110, 14);
 }

 #comunicados-btn {
    margin: 5rem auto;
    display: block;
    padding: .75rem 1.5rem;
    border-radius: 3px;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 1rem;
    border:rgb(188, 185, 185) 1px solid;
 }



/*FOOTER*/

footer {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(64, 105, 29, 0.9), rgba(64, 105, 29, 0.9)),
    url("../img/multidao.jpg");
    object-fit: cover;
    /* height: calc(60vh - 2.5rem);  */
    background-position: top left;
    /* text-align: center; */
    /* background-attachment: fixed; */
}

#social {
    /* border: 1px red solid; */
    padding: 3rem 3rem;
}

.icone {
    color: rgb(229, 142, 66);
    margin: 2rem;
}

footer h3, footer p {
   font-family: Helvetica;
   color: #fff;
}

footer h3 {
   margin: 2rem 0rem 0.5rem 0rem;
   font-weight: 800;
}

footer p {
   line-height: 1.5rem;
   letter-spacing: .1rem;
}

#contato p {
   display: inline-block;
   margin-bottom: 1rem;
}

#contato {
   display:flex;
   flex-direction: column;
}

#contato i {
   color:rgb(229, 142, 66);
   margin-right: .5rem;
}

#contato h3 {
   margin-bottom: 1.5rem;
   color:rgb(229, 142, 66);
}


/*PÁGINA INSTITUCIONAL*/

#main-institucional {
   padding: 1rem 8rem 2rem 8rem;
   font-family: Helvetica;
   background-color: #f6f6f6;
}

#main-institucional h2 {
   color:rgb(204, 132, 9);
   margin-bottom: 1rem;
   font-weight: 700;
   text-align: center;
   font-family: Helvetica;
   letter-spacing: .1rem;
}

.institucional-card {
   padding: 1.5rem;
   background-color: #fff;
   border-radius: 5px;
   max-width: 1000px;
   margin: 1rem auto;
   box-shadow: #eeebeb 1px 1px;   
}

.institucional-card p {
   color:rgb(47, 47, 47);
}

.institucional-paragrafos p {
   margin-bottom: 1rem;
}



/*PÁGINA EQUIPES*/

.card-row {
   display: flex;
}

#main-equipe {
   padding: 2rem 8rem 2rem 8rem;
   font-family: Helvetica;
   background-color: #f6f6f6;
}

.main-card {
   padding: 1.5rem;
   background-color: #fff;
   border-radius: 5px;
   margin: 2rem;
   text-align: center;
   width: 30vw;
}

.main-card img {
   width: 13rem;
   margin-bottom: 1rem;
   border: 1px solid rgb(197, 195, 195);
}

.main-card p {
   margin: 1rem 0;
}

.main-card a {
   color: rgb(204, 132, 9);
   font-weight:700;
}

.email {
   font-style: italic;
}

#main-equipe h2 {
   text-align: center;
   color:rgb(204, 132, 9);
}


/*PÁGINA DE PESQUISA*/


#main-pesquisa {
   padding: 2rem 8rem 2rem 8rem;
   font-family: Helvetica;
   background-color: #f6f6f6;
}

#main-pesquisa h3 {
   text-align: center;
   color:rgb(247, 174, 47);
}

.a, .b, .c, .d {
   background-image: linear-gradient(rgba(64, 105, 29, 0.9), rgba(64, 105, 29, 0.9)),
   url("../img/multidao.jpg");
   object-fit: cover;
   background-position: center center;
   text-align: center;
}

.pesquisa-card {
   padding: 3rem;
   border-radius: 5px;
   margin: 2rem;
   width: 40vw;
   text-align: center;
}

.area-card {
   padding: 1.5rem;
   background-color: #fff;
   border-radius: 5px;
   max-width: 1000px;
   margin: 2rem auto;
   box-shadow: #eeebeb 1px 1px;   
}

.area-card h2 {
   color:rgb(204, 132, 9);
   margin-bottom: 2rem;
   font-weight: 700;
   text-align: center;
   font-family: Helvetica;
   letter-spacing: .1rem;
}

.area-card p {
   color:rgb(97, 94, 94);
   text-indent: 50px;
   line-height: 28px;
   text-align: justify;
   font-size: 1.2rem;
}

/*PÁGINA PROJETOS*/

#main-projetos {
   padding: 5rem 8rem 2rem 8rem;
   font-family: Helvetica;
   background-color: #f6f6f6;
}

#main-projetos h2 {
   text-align: center;
   color:rgb(204, 132, 9);
   margin-bottom: 3rem;
   text-transform: uppercase;
}

.card-projetos {
   padding: 1.5rem;
   background-color: #fff;
   border-radius: 5px;
   margin: 2rem auto;
   width: 65vw;
}

.card-projetos h3 {
   color:rgb(67, 109, 39);
   font-weight: 500;
   letter-spacing: 1px;
}

.card-projetos h4 {
   padding-top: 2rem;
   color:rgb(74, 71, 71);     
}

#projetos-btn {
   margin: 2rem 0rem 0rem 0rem;
   padding: .5rem .7rem;
   border-radius: 3px;
   font-family: Helvetica;
   font-weight: 500;
   font-size: 12px;
   border:rgb(188, 185, 185) 1px solid;
   text-transform: uppercase;
   color: rgb(82, 77, 77);
}


/*PÁGINA CONTATO*/

#contato-wrap {
   background-color:#f6f5f5;
   padding-top: 2rem;
}

#contato-info {
   width: 70vw;
   margin: 0 auto;
   text-align: center;
}

#contato-email {
   max-width: 20vw;
   margin: 2rem auto;
   padding: 2rem;
}

#contato-phone {
   max-width: 20vw;
   margin: 2rem auto;
   padding: 2rem;
}

#contato-endereco {
   max-width: 20vw;
   margin: 2rem auto;
   padding: 2rem;
}

.contato-icone {
   color: rgb(229, 142, 66);
   margin: 1rem;
}

.contato-p {
   color: rgb(47, 47, 47);
   font-weight: 600;
   font-family: Helvetica;
   letter-spacing: 1.2px;
   line-height: 22px;
}
